input[type=button] {
    width: 50px;
    height: 30px;
    border: solid violet 1.5px;
}

.campoInput{
    width: 217px;
    height: 30px;
    border: solid violet 3px;
}

body{
    background-color: rgb(233, 190, 227);
}

.divCentral{
    margin-left: 40%;
    margin-top: 5%;
}
h1{
    margin-top: 2%;
    margin-left: 42%;
    color: purple;
}